* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #ff9800;
    --sections-main-padding: 50px;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

ul li {
    margin: 0 10px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
}

p {
    line-height: 1.8;
    color: #9b9393;
    color: #979191;
}

.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn {
    width: fit-content;
    border-radius: 24px;
    border: 2px solid #fdb100;
    background-color: #fdb100;
    color: white;
    padding: 8px 20px;
    font-size: 20px;
}