:root {
    --main-color: #0d9488;
    --main-color-bold: #0f766e;
    --second-color: #00a991;
    --sections-main-padding: 50px;
    --container-width: 1170px;
    --main-dir-flex: row-reverse;
}

%disFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%disFRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: var(--main-dir-flex);
}

%btn {
    width: fit-content;
    border: none;
    padding: 10px 40px 14px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    cursor: pointer;
}

%btnTransform {
    transform: scale(1.02) translateY(5px);
    -webkit-transform: scale(1.02) translateY(5px);
    -moz-transform: scale(1.02) translateY(5px);
    -ms-transform: scale(1.02) translateY(5px);
    -o-transform: scale(1.02) translateY(5px);
}

.page {
    margin-bottom: 110px;
}


/*start header section style*/

header {
    padding: 15px 0 400px;
    margin-bottom: 400px;
    min-height: 100vh;
    background-color: #f0fdfa99;
    .container {
        @extend %disFRight;
        .logo {
            width: 50px;
            &:hover {
                @extend %btnTransform;
            }
            img {
                width: 100%;
            }
        }
        .links {
            flex-direction: var(--main-dir-flex);
            li {
                font-size: 18px;
                a {
                    &:hover {
                        color: var(--main-color)
                    }
                }
            }
        }
        .log-in {
            @extend %disFRight;
            .log {
                color: var(--main-color);
                background-color: #fff;
                @extend %btn;
                &:hover {
                    background-color: var(--main-color);
                    color: white;
                }
            }
            >li {
                &:hover {
                    @extend %btnTransform;
                }
            }
        }
        .lang {
            @extend %disFlex;
            position: relative;
            padding: 8px;
            cursor: pointer;
            .en {
                width: 65px;
            }
            li {
                display: none;
                background-color: #00a88f24;
                position: absolute;
                bottom: -35px;
                left: -10px;
                width: 100%;
                padding: 8px;
                text-align: center;
                &:hover {
                    background-color: var(--main-color);
                    a {
                        color: #fff;
                    }
                }
            }
            &:hover {
                background-color: #fff;
                li {
                    display: block;
                }
            }
        }
    }
    .home {
        min-height: 76vh;
        max-width: 620px;
        text-align: center;
        width: var(--container-width);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 18px;
            color: var(--main-color-bold);
        }
        .btn {
            margin: 40px 0 -115px;
            font-size: 25px;
            border-radius: 35px;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            -ms-border-radius: 35px;
            -o-border-radius: 35px;
            &:hover {
                @extend %btnTransform;
            }
        }
    }
    >p {
        text-align: center;
        color: var(--main-color);
        padding-top: 5px;
        font-size: 13px;
        margin-bottom: 80px;
    }
    .header-imgs {
        margin: 0 auto;
        width: var(--container-width);
        position: relative;
        img {
            // width: 80%;
            position: absolute;
        }
         :nth-child(1) {
            left: -100px;
            top: -65px;
            z-index: 1;
        }
         :nth-child(2) {
            right: -80px;
            top: -65px;
            z-index: 1;
        }
         :nth-child(3) {
            z-index: 2;
            width: 75%;
            left: 50%;
            box-shadow: 0px 3px 8px 5px #b8bec1;
            border-radius: 10px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
         :nth-child(4) {
            z-index: 3;
            left: 0;
            top: 150px;
            width: 25%;
        }
         :nth-child(5) {
            z-index: 3;
            right: 0;
            top: 150px;
            width: 25%;
        }
    }
}


/*end of header section*/


/*start of sections section*/

section.section-container {
    margin: 30px auto;
    width: var(--container-width);
    >div {
        width: 100%;
        margin-bottom: 100px;
    }
    .sec-1 {
        @extend %disFRight;
        justify-content: space-between;
        >div {
            width: 47%;
            padding: 10px 10px;
            gap: 10px;
            text-align: right;
        }
        p {
            font-size: 18px;
            color: #ddd;
        }
        .left {
            h1 {
                font-size: 55px;
                margin-bottom: 50px;
            }
        }
        .right {
            h1 {
                color: #000;
                font-size: 55px;
                margin-bottom: 10px;
                span {
                    font-size: 28px;
                }
            }
            p {
                margin: 10px 0;
                strong {
                    color: #000;
                    font-weight: bold;
                }
            }
        }
    }
    .sec-2 {
        text-align: right;
        .sec-2-content {
            background-color: rgba(0, 168, 143, 0.1411764706);
            @extend%disFRight;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            >div {
                width: 45%;
                padding: 80px 30px;
            }
            .left {
                position: relative;
                img {
                    max-width: 100%;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    width: 115%;
                    // transform: translate(-11%, 0);
                    // -webkit-transform: translate(-11%, 0);
                    // -moz-transform: translate(-11%, 0);
                    // -ms-transform: translate(-11%, 0);
                    // -o-transform: translate(-11%, 0);
                }
                 :nth-child(1) {
                    min-height: 410px;
                }
                 :nth-child(2) {
                    width: 40%;
                    left: -30px;
                    bottom: 100px;
                    position: absolute;
                }
                 :nth-child(3) {
                    right: 35px;
                    bottom: 100px;
                    width: 50%;
                    position: absolute;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                text-align: right;
                padding-right: 0px;
                h2 {
                    font-size: 50px;
                    margin-bottom: 40px;
                }
                p {
                    font-size: 18px;
                    margin-bottom: 40px;
                }
                .btn {
                    font-size: 20px;
                    margin-bottom: 20px;
                    border-radius: 35px;
                    -webkit-border-radius: 35px;
                    -moz-border-radius: 35px;
                    -ms-border-radius: 35px;
                    -o-border-radius: 35px;
                    &:hover {
                        @extend %btnTransform;
                    }
                }
            }
        }
    }
}


/*end of sections section*/


/*start of footer section*/


/*end of footer section*/

.bottom-slide {
    width: 100%;
    z-index: 100;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    background-image: linear-gradient(113deg, #134e4a, #00a991);
    .container {
        @extend %disFRight;
        width: var(--container-width);
        p {
            color: #fff;
        }
        .btn {
            border: 0px solid var(--main-color-border);
            background-color: white;
            a {
                color: var(--main-color);
            }
            &:hover {
                background-color: #00a991;
                a {
                    color: white;
                }
            }
        }
    }
}